//custom css styles
#ui-datepicker-div { 
     font-size:10px; 
     
 }
 
.ui-datepicker-header {
 background-color: #E1E1E1;
   
}

.register_width_fields {
    width:40%
}

.register_width_padding {
    padding: 13px;
}

.form_mandatory{
    color:red;
    font-weight: bolder;
}

.form_error{
    text-align: center;
    color:red;
    font-weight: bolder;
}

.form_success{
    text-align: center;
    color:green;
    font-weight: bolder;
}

form.custom{
    padding-left: 250px;
    
}

.view_width_fields {
    width:25%
}

.compose_sms_padding{
    padding-bottom: 10px;
    padding-top: 10px;
        
}

.sms_schedule_fields{
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
    //padding-top: 10px;
        
}

.input_field_spacing{
    padding-top: 5px
}

.multiple_width_fields {
    width:25%
}

.logo{
    width:60px;
    height:35px;
    border-radius: 2px;
    padding-bottom: 2px;
    padding-top: -9px
}

#topbar {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 120%;
    color:#40968C;
}

div#login_into{
    font-size: 150%;
    font-style: oblique;
    font-weight: bolder;
    padding-bottom: 20px;
}

img#login{
    height:75px;
    border-radius: 5px;
}

div#footer-div {
    clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    margin-top: 3.4em;
    text-align: center;
}

div.display_content{
          padding-top:10px;
          padding-bottom:20px;
          overflow: auto;
          height: 468px;
      }
      
div#footer-div-home{
  clear: both;
  position: relative;
  z-index: 10;
  height: 2em;
  margin-top: 9.4em;
  text-align: center;
}